venv/
.venv/

.env

__pycache__/
*.py[cod]

.pytest_cache/

allure-results/
allure-report/

reports/
performance/reports/
security/reports/

test-results/
playwright-report/
blob-report/

*.log

.coverage
htmlcov/

.vscode/
.idea/

.DS_Store
Thumbs.db